.popup__text {
    margin: 0 auto 30px;
    width: 358px;
    font-size: 14px;
    line-height: 17px;
    outline: none;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 13px;
}

.popup__text:nth-of-type(2) {
    margin-bottom: 48px;
}

@media screen and (max-width: 767px) {
    .popup__text {
        width: 238px;
    }

    .popup__text:nth-of-type(2) {
        margin-bottom: 45px;
    }
}