.popup__container {
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 430px;
    margin: 195px auto;
    background-color: white;
    color: black;
    border-radius: 10px;
}

@media screen and (max-width: 767px) {
    .popup__container {
        margin: 123px auto;
        max-width: 282px;
    }
}