.popup__save {
    margin: 0 auto 37px;
    border: none;
    outline: none;
    text-indent: -9999px;
    width: 358px;
    background-image: url(../../../images/SubmitButton.svg);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50px;
    background-position: center;
    cursor: pointer;
    transition: opacity 0.3s ease;
}

.popup__save:hover {
    opacity: 0.6;
}

@media screen and (max-width: 767px) {
    .popup__save {
        width: 238px;
        margin: 0 auto 25px;
    }
}